
body{
    margin-top: 0px;
}
/* 1 nav related codes */

nav{ display: flex;
     width: 90%;
     align-items: center;
     justify-content: space-between;
     margin-left: auto;
     margin-right: auto;
     background-color: rgba(23, 23, 23,.03);
     position: sticky;
    }

    /* 1) (a) coding the mary */
    nav h3{width: 30%;
        font-family: 'Open Sans', sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 800;
        text-align: center;
    }

   #title{
        color: #FD6E0A;
    }
    h3 a{
        color: #181818;
        text-decoration: none;
    }
    h3 a:hover{
        font-size: 26px;
    }

    /* 1) (b) coding the other nav links  */

    nav ul {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
    }
    nav li{
        list-style: none;
    }
    nav ul a{
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #181818;
    }
    nav ul a:hover{
        font-size: 21px;
        text-decoration: underline;
    }
    #nav_bar_button{
        width:7em;
        height: 3em;
        
    }

    .button{
        color: white;
        background-color: #FD6E0A;
        border: 0px;
        border-radius: 2px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-family: 'Open Sans', sans-serif;
    }
    .button:hover{
        width: 1em;
        height: 4em;
    }

    /* header related codes */
    header{
        background-color: #FFF8F3;
        height: 500px;
    }

/* #left{
        background-image: url("/images/developer.png");
        position: fixed;
        top: 2%;
        left: 2%;
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px;
        width: 10%;
    }
    #middle button{
        width:10em;
        height: 2.5em;
        
    }
    #middle{
        width: 50%;
        margin: 0 auto;
        display: flex;
    }

#down h4{
        color:#474747;
        font-size: 25px;
}

#down h1{
        font-size: 45px;
        color: #181818;
}
#down p{
        width: 70%;
        color: #757575;
}

#hardy{
        width: 100%;
        height: auto;
}
#right{ width: 30%;
        display: flex;
        align-items: center;
} */ 